@model IEnumerable<LavaCar.Entidades.Vehiculo>
@{LavaCar.Entidades.Vehiculo modelo = new LavaCar.Entidades.Vehiculo();}

@{
    ViewData["Title"] = "Lista de Vehículos";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 text-center">
        <h2 class="m-0 font-weight-bold text-secondary"><samp>Lista de Vehículos</samp></h2>
    </div>
    <div class="card-body">
        <div class="mb-3 mx-1">
            <a href="#formVehiculo" id="btnAgregarVehiculo" class="btn btn-success btn-circle btn-lg" data-toggle="modal">
                <span class="fas fa-plus-circle"></span>
            </a>
        </div>
        <div class="table-responsive">
            <table id="DataTableVehiculos" class="table table-striped table-bordered table-borderless">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Placa)</th>
                        <th>@Html.DisplayNameFor(model => model.Dueno)</th>
                        <th>@Html.DisplayNameFor(model => model.Marca)</th>
                        <th>@Html.DisplayName("Acciones")</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("_FormularioVehiculo", modelo)

@section scripts{
    <script src="~/app/vehiculoCRUD.js"></script>
}